@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300&display=swap');
/*my global vars */

/*colors */
$mainColor : #000;
$SecColor: #FEE000;
$whiteText: #fff;

/*fonts*/
$IBM_Plex: 'IBM Plex Sans', sans-serif;
$IBM_Arabic: 'IBM Plex Sans Arabic', sans-serif;
$Montserrat: 'Montserrat', sans-serif;


body {
    direction: rtl;
    text-align: start;
    font-family: $IBM_Arabic;
    background-color: $mainColor;
}

/* my global classes */


.col_reverse {
    @media(max-width:575px) {
        flex-direction: column-reverse;
    }
}

.col_normal {
    @media (max-width: 575px){
        flex-direction: column !important;
    }

}

@media(max-width:575px) {

    .head.margin_minus {
        margin-top: -90px;
        position: relative;
        z-index: 10;
    }
}

.show_mobile {
    flex: 100%;
    display: none;

    @media(max-width:991px) {
        display: block;
    }

    span {
        margin: 12px 0;
        color: $SecColor;
        font-weight: 600;
        font-family: $IBM_Plex;
        display: block;
    }

    .social {
        a {
            display: inline !important;
            text-decoration: none;
            margin-inline-end: 20px;

            @media(max-width:575px) {
                margin-inline-end: 16px;
            }
        }
    }

    .copy {
        text-align: center;
        border-top: 1px solid #707070;
        padding: 20px 36px;
        color: rgba($color: #ffffff, $alpha: 0.60);
        margin-top: 32px;
    }
}

.custom_container {
    width: 100%;
    max-width: calc(100% - 250px);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 0 10px;

    @media(max-width:1400px) {
        max-width: calc(100% - 200px);
    }

    @media(max-width:1200px) {
        max-width: calc(100% - 120px);
    }

    @media(max-width:991px) {
        max-width: calc(100% - 100px);
        padding: 0 15px;
    }

    @media(max-width:767px) {
        max-width: 100%;
    }
}

.action {
    a {
        padding: 12px 16px;
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        width: 184px;
        justify-content: space-between;

        @media(max-width:1400px) {
            gap: 16px;
            padding: 8px 12px;
            width: fit-content;
        }

        @media(max-width:991px) {
            width: fit-content;
        }

        @media(max-width:425px) {
            font-size: 12px;
            line-height: 24px;
        }
    }
}

.head {
    font-size: 3rem;
    color: $SecColor;
    line-height: 58px;
    margin-bottom: 20px;

    @media(max-width:1200px) {
        font-size: 2rem;
        line-height: 42px;
        margin-bottom: 6px;
    }

    @media(max-width:991px) {
        font-size: 1.5rem;
        line-height: 34px;
    }

    @media(max-width:767px) {
        font-size: 28px;
        line-height: 38px;
    }

}

.desc {
    color: $whiteText;
    font-size: 2rem;
    line-height: 42px;
    margin-bottom: 90px;

    @media(max-width:1200px) {
        font-size: 1.5rem;
        line-height: 34px;
        margin-bottom: 40px;
    }

    @media(max-width:991px) {
        font-size: 20px;
        line-height: 30px;
    }

    @media(max-width:767px) {
        font-size: 16px;
        line-height: 36px;
    }

}

.w-auto {
    width: auto !important;
}

.product {
    margin-top: 20px;

    .product_img {
        position: relative;

        .w-auto {
            position: absolute;
            bottom: 30px;
            right: 30px;
        }
    }

    .product_desc {
        padding: 36px 30px 24px 12px;
        transition: .3s all ease-in-out;

        @media(max-width:991px) {
            padding: 12px;
        }

        h4 {
            font-size: 2rem;
            margin-bottom: 0;
            line-height: 42px;
            color: $SecColor;
            font-family: $IBM_Plex;
            font-weight: 600;

            @media(max-width:1400px) {
                font-size: 1.5rem;
            }

            @media(max-width:991px) {
                font-size: 18px;
                line-height: 28px;
            }

            @media(max-width:575px) {
                font-size: 16px;
                line-height: 26px;
            }
        }

        p {
            font-size: 18px;
            color: $whiteText;
            font-weight: 300;
            margin: 0;

            @media(max-width:1400px) {
                font-size: 18px;
            }

            @media(max-width:991px) {
                font-size: 16px;
            }
        }

        &:hover {
            background-color: $SecColor;

            h4,
            p {
                color: #000;
            }
        }
    }
}

.feat_desc {
    color: $whiteText;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 64px;

    @media(max-width:991px) {
        font-size: 16px;
        margin-bottom: 32px;
    }


}

/*start navBar  */

.nav {
    background-color: $mainColor ;
    padding: 30px 0;
    border-bottom: 1px solid $SecColor;

    @media(max-width:1400px) {
        padding: 20px 0;
    }

    @media(max-width:575px) {
        padding: 16px 0;
    }

    .navbar-brand {
        padding: 0;

        img {
            @media(max-width:1200px) {
                width: 160px;
            }

            @media(max-width:767px) {
                width: 100px;
            }
        }
    }

    .navbar-toggler {
        outline: none;
        padding: 0;
        margin: 0;
        border: none;

        svg {
            @media(max-width:767px) {
                height: 24px;
                width: 24px;
            }
        }
    }

    .navbar-nav {
        @media(max-width:991px) {
            margin-bottom: 16px;
        }

        .nav-item {
            .nav-link {
                color: $whiteText;
                font-size: 18px;
                text-decoration: none;
                margin-inline-end: 82px;

                @media(max-width:1600px) {
                    margin-inline-end: 40px;
                }

                @media(max-width:1400px) {
                    margin-inline-end: 20px;
                    font-size: 16px;
                }

                &.active {
                    color: $SecColor;
                }

            }

            &:last-of-type {
                .nav-link {
                    margin: 0;
                }
            }
        }
    }



    .navbar-collapse {
        @media(max-width:991px) {

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        border-bottom: 1px solid #1c1c1c;
                        padding: 12px 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}

/*end navbar */

/*start hero */

.hero {
    background-image: url(../imgs/hero.png);
    background-size: cover;
    background-position: center;
    padding: 20px 0;

    .content {
        min-height: 870px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 605px;
        max-width: 100%;

        @media(max-width:1400px) {
            min-height: 620px;
        }

        @media(max-width:991px) {
            min-height: 430px;
            justify-content: end;
        }

        h1 {
            font-size: 4rem;
            color: $SecColor;
            line-height: 92px;
            margin-bottom: 16px;

            @media(max-width:1400px) {
                line-height: 58px;
                font-size: 3rem;
            }

            @media(max-width:991px) {
                line-height: 42px;
                font-size: 2rem;
            }

            @media(max-width:425px) {
                line-height: 38px;
                font-size: 28px;
            }
        }

        p {
            font-size: 32px;
            color: $whiteText;
            line-height: 42px;
            margin-bottom: 32px;

            @media(max-width:1400px) {
                font-size: 28px;
            }

            @media(max-width:991px) {
                line-height: 34px;
                margin-bottom: 24px;
                font-size: 24px;
            }

            @media(max-width:425px) {
                line-height: 28px;
                font-size: 16px;
            }
        }

        .action {
            width: fit-content;
        }
    }
}


/*end hero */


/*start services */

.services {
    padding: 76px 0 97px;

    @media(max-width:1400px) {
        padding: 32px 0;
    }

    .desc {
        @media(max-width:991px) {
            margin-bottom: 55px;
        }
    }
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}



.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: 1px solid $SecColor;
    padding: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
    width: 75px;
    height: 75px;

    @media(max-width:1400px) {
        width: 40px;
        height: 40px;
    }

    @media(max-width:991px) {
        transform: translateY(-100%);
        top: 0;
        width: 35px;
        height: 35px;
    }
}

.owl-prev:hover,
.owl-next:hover {
    background-color: $SecColor !important;
    border: 1px solid $SecColor !important;

    svg {
        stroke: #000000;
    }
}

.owl-prev {
    left: -90px;

    @media(max-width:1400px) {
        left: -55px;

        @media(max-width:991px) {
            right: 45px;
            left: auto;
        }
    }
}

.owl-next {
    right: -90px;

    @media(max-width:1400px) {
        right: -55px;
    }

    @media(max-width:991px) {
        left: auto;
        right: 0
    }
}

.owl-dots {
    display: none;
}


/*products*/

.products {
    padding: 0 0 97px;

    @media(max-width:1400px) {
        padding: 0 0 64px 0;
    }

    @media(max-width:991px) {
        padding-bottom: 44px;

        .head {
            font-size: 28px;
        }

        .product {
            margin-top: 0;
        }

        .desc {
            margin-bottom: 20px;
        }
    }

    .wrapper {
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;

        .product {
            flex-basis: 50%;
            padding: 0 10px;
            margin-bottom: 20px;
            text-decoration: none;

            @media(max-width:575px) {
                flex-basis: 100%;
            }

            img {
                width: 100%;
            }

            .product_desc {
                position: relative;

                @media(max-width:1400px) {
                    padding: 12px;
                }

                h4 {
                    @media(max-width:575px) {
                        font-size: 18px;
                    }
                }

                p {
                    width: 465px;
                    max-width: 90%;

                    @media(max-width:1400px) {
                        width: auto;
                        max-width: 100%;
                    }
                }

                .arrow {
                    position: absolute;
                    left: 24px;
                    bottom: 24px;
                    width: auto;
                    display: none;
                    transition: .3s all ease-in-out;

                    @media(max-width:1400px) {
                        left: 24px;
                        bottom: auto;
                        top: 24px;
                    }
                }

                &:hover {
                    .arrow {
                        display: block;
                    }
                }

                @media(max-width:991px) {
                    .arrow {
                        display: none !important;
                    }
                }
            }
        }
    }

    .action {
        a {
            background-color: $SecColor;
            color: $mainColor;
            border-color: $SecColor;
            margin-top: 22px;

            @media(max-width:575px) {
                margin-top: 0;
            }
        }
    }
}



/*why_us*/

.why_us {
    padding-bottom: 100px;

    .row {
        @media(max-width:575px) {
            flex-direction: column-reverse;
        }
    }

    @media(max-width:1400px) {
        padding-bottom: 32px;

    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img_wrapper {
        text-align: end;

        img {
            width: 754px;
            max-width: 100%;

            @media(max-width:991px) {
                width: 100%;
            }

        }
    }

    .head {
        margin-bottom: 45px;
    }

    .features {
        gap: 20px 4%;

        .feat {
            flex-basis: 48%;
            border-bottom: 1px solid $whiteText;

            @media(max-width:575px) {
                flex-basis: 100%;
            }

            .feat_head {
                margin-bottom: 12px;
                gap: 12px;

                h5 {
                    color: $SecColor;
                    font-size: 2rem;
                    font-family: $IBM_Plex;
                    font-weight: 600;
                    margin: 0;

                    @media(max-width:991px) {
                        font-size: 1.5rem;
                    }
                }
            }



            &:nth-last-child(1),
            &:nth-last-child(2) {
                border-bottom: none;
            }
        }
    }
}

/*partners*/

.partners {
    .show_desktop {
        @media(max-width:991px) {
            display: block;
            width: 100%;

        }
    }

    .partner_img {
        @media(max-width:991px) {
            width: 100%;
            margin-bottom: 24px;
            display: none;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    padding-bottom: 100px;

    @media(max-width:991px) {
        padding-bottom: 64px;
    }

    .desc {
        width: 660px;
        max-width: 100%;
        margin-bottom: 4rem;

        @media(max-width:991px) {
            margin-bottom: 2rem;
        }
    }

    .partner_content {
        column-gap: 100px;

        @media(max-width:1700px) {
            gap: 60px;
        }

        @media(max-width:991px) {
            gap: 0;
            flex-wrap: wrap;
        }

        .partner_slider {
            flex: 1;

            .slider_header {
                margin-bottom: 83px;

                @media(max-width:1400px) {
                    margin-bottom: 24px;
                }

                h4 {
                    text-transform: uppercase;
                    color: $whiteText;
                    font-size: 3rem;

                    @media(max-width:991px) {
                        font-size: 1.5rem;
                    }
                }

                .slider_buttons {
                    display: flex;
                    gap: 10px;

                    .carousel-control-next,
                    .carousel-control-prev {
                        position: static;
                        opacity: 1;
                        width: 75px;
                        height: 75px;
                        border: 1px solid $SecColor;
                        background-color: transparent;
                        transition: .3s all ease-in-out;

                        @media(max-width:991px) {
                            width: 40px;
                            height: 40px;
                        }

                        &:hover,
                        &:focus {
                            background-color: $SecColor;

                            svg {
                                stroke: #000000;
                            }
                        }
                    }
                }
            }

            .slider_content {
                background-color: $SecColor;
                padding: 70px 36px;
                text-align: center;
                gap: 40px;

                @media(max-width:1400px) {
                    padding: 44px 16px;
                }

                @media(max-width:991px) {
                    gap: 0;
                }

                h5 {
                    font-size: 3rem;
                    line-height: 58px;
                    font-weight: 700;
                    margin: 0;

                    @media(max-width:1400px) {
                        font-size: 2rem;
                        line-height: 42px;
                    }

                    @media(max-width:991px) {
                        font-size: 1.5rem;
                        line-height: 32px;
                    }
                }

                span {
                    font-size: 24px;
                    margin: 0;

                    @media(max-width:991px) {
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
            }

        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin: 0
    }
}

.articles {
    padding-bottom: 120px;

    @media(max-width:1400px) {
        padding-bottom: 64px;
    }

    @media(max-width:991px) {
        padding-bottom: 44px;
    }

    .show_mobile {
        display: none;

        span {
            margin: 0;
            color: $whiteText;
        }

        @media(max-width:575px) {
            display: block;
            margin-top: 20px;
        }
    }

    .show_desktop {
        display: block;

        @media(max-width:575px) {
            display: none;
        }
    }

    .show_mobile {
        display: none;

        @media(max-width:575px) {
            display: block;
        }
    }

    .article_header {
        margin-bottom: 60px;
        align-items: flex-end;

        @media(max-width:991px) {
            margin-bottom: 28px;
        }
    }

    .desc {
        width: 660px;
        max-width: 100%;
        margin-bottom: 0;

        @media(max-width:991px) {
            width: auto;
        }

        @media(max-width:425px) {
            width: 75%;
        }
    }

    .articles_data {
        gap: 100px;

        @media(max-width:991px) {
            gap: 20px;
            flex-wrap: wrap;
        }

        .article_content {
            text-decoration: none;
            flex: 1;

            @media(max-width:575px) {
                flex: 100%;
            }

            img {
                width: 100%;
                margin-bottom: 20px;
            }

            h4 {
                color: $whiteText;
                font-size: 2rem;

                @media(max-width:991px) {
                    font-size: 18px;
                }

                @media(max-width:991px) {
                    font-size: 15px;
                }

            }
        }
    }
}

/*footer */

footer {
    .footer_wrapper {
        padding: 60px 0;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;

        @media(max-width:991px) {
            padding: 28px 0;
        }
    }

    .footer_content {
        gap: 90px;

        @media(max-width:1200px) {
            gap: 30px;
        }

        @media(max-width:991px) {
            gap: 0;
            flex-wrap: wrap;
        }

        .footer_links {
            display: flex;
            column-gap: 235px;

            @media(max-width:1600px) {
                gap: 100px;
            }

            @media(max-width:1400px) {
                gap: 50px;
            }

            @media(max-width:991px) {
                flex: 100%;
                justify-content: space-between;
                margin-bottom: 0;
                gap: 20px;
            }

            @media(max-width:991px) {
                flex-wrap: wrap;

            }

            .footer_logo {
                @media(max-width:991px) {
                    flex: 100%;
                }

                span {
                    margin: 12px 0;
                    color: $SecColor;
                    font-weight: 600;
                    font-family: $IBM_Plex;
                    display: block;
                }

                .social {
                    a {
                        text-decoration: none;
                        margin-inline-end: 20px;
                    }
                }

                @media(max-width:991px) {

                    .social,
                    span {
                        display: none;
                    }
                }
            }

            h6 {
                font-family: $IBM_Plex;
                font-size: 21px;
                color: $SecColor;
                margin-bottom: 1rem;
                font-weight: 600;

                @media(max-width:1400px) {
                    font-size: 18px;
                }
            }

            ul {
                a {
                    color: rgba($color: #ffffff, $alpha: .6);
                    text-decoration: none;
                    font-size: 18px;
                    margin-bottom: 8px;
                    display: block;

                    @media(max-width:1400px) {
                        font-size: 15px;
                    }
                }
            }
        }

        .separator {
            @media(max-width:991px) {
                display: none;
            }
        }

        .more {
            display: flex;
            flex: 1;
            justify-content: space-between;

            a {
                color: rgba($color: #ffffff, $alpha: .6);
                text-decoration: none;
                font-size: 18px;
                margin-bottom: 8px;
                display: block;

                @media(max-width:1400px) {
                    font-size: 15px;
                }
            }

            @media(max-width:991px) {
                flex-wrap: wrap;

                .more_links {
                    flex: 100%;
                }
            }


        }
    }

    .copyrights {
        text-align: center;
        padding: 24px 15px;
        color: rgba($color: #ffffff, $alpha: .6);
        font-size: 18px;

        @media(max-width:1400px) {
            font-size: 15px;
        }
    }
}

/******************* Work Page *****************/

.work_hero {
    background-image: url(../imgs/workbanner.png);

    .action {
        a {
            background-color: $SecColor;
            border-color: $SecColor;
            color: $mainColor;
        }
    }

    .content {
        width: 675px;

        p {
            font-size: 27px;
            color: #fff;
            line-height: 42px;
            margin-bottom: 32px;

            @media(max-width:991px) {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }


}

/*****************article_page*/
//////////

.article_page {
    padding: 200px 0;

    @media(max-width:1450px) {
        padding: 48px 0;
    }

    .articles_data {
        flex-wrap: wrap;

        .article_content {
            flex-basis: auto;
        }
    }
}

.blog_hero {
    background-image: url(../imgs/blog_details.png);

}

.blog_details {
    padding: 64px 0;

    @media(max-width:991px) {
        padding: 50px 0;
    }

    .head {
        margin-bottom: 100px;

        @media(max-width:991px) {
            margin-bottom: 36px;
            display: none;
        }

    }

    p {
        color: $whiteText;
        font-size: 18px;
        line-height: 42px;

        @media(max-width:991px) {
            font-size: 16px;
            line-height: 28px;
        }
    }

    .articles_data {
        @media(max-width:991px) {
            flex-wrap: wrap;

            .article_content {
                flex: 100%;

                .head {
                    display: block !important;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/****************contact_hero*/
///////////////////

.contact_hero {
    background-image: url(../imgs/contact.png);
}

.contact {
    padding: 64px 0;

    @media(max-width:991px) {
        padding: 50px 0;

        .desc {
            margin-bottom: 20px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        @media(max-width:991px) {
            flex-wrap: wrap;
        }
    }

    .contact_form {
        @media(max-width:1500px) {
            flex-basis: 50%;
        }

        @media(max-width:991px) {
            flex-basis: 100%;
        }
    }

    form {
        .input {
            margin-bottom: 32px;

            input,
            select,
            textarea {
                height: 65px;
                width: 650px;
                padding-right: 16px;
                max-width: 100%;
                background-color: #1C1C1C !important;
                border: none;
                color: #fff;
                outline: none;
                border-bottom: 1px solid #999999;
                transition: .3s all ease-in-out;

                @media(max-width:1500px) {
                    width: 100%;
                }

                @media(max-width:991px) {
                    height: 45px;
                }

                &::placeholder {
                    color: $whiteText;
                    opacity: 45%;
                    font-size: 18px;

                    @media(max-width:575px) {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }

                &:focus {
                    border-bottom: 1px solid $SecColor
                }
            }

            select {
                color: rgba($color: #ffffff, $alpha: 0.45);
                font-size: 18px;
                padding: 0 16px !important;
                background: #fff url("../imgs/select.png") no-repeat left .75rem center;

                @media(max-width:575px) {
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            textarea {
                padding-top: 16px;
                height: 170px;

                &::placeholder {
                    color: $whiteText;
                    opacity: 45%;
                    font-size: 18px;
                }
            }
        }

        .action a {
            background-color: $SecColor;
            border-color: $SecColor;
            color: $mainColor;
        }
    }

    .contact_wrapper {
        margin-top: 100px;

        @media(max-width:991px) {
            flex-basis: 100%;
            margin-top: 24px;
        }
    }

    .contact_info {
        display: flex;

        .info {
            margin-bottom: 36px;
            margin-inline-end: 100px;

            @media(max-width:991px) {
                margin: 0;
            }

            img {
                margin-bottom: 16px;

            }

            h5 {
                font-size: 24px;
                color: $SecColor;
                margin-bottom: 8px;
                font-weight: 600;
            }

            p {
                font-weight: 300;
                font-size: 18px;
                color: $whiteText;
            }
        }

        .margin_1 {
            margin-inline-end: 20px;
        }

        .margin_2 {
            margin: 0;
        }

        @media(max-width:991px) {
            gap: 32px;
        }
    }

    .last {
        @media(max-width:1200px) {
            flex-wrap: wrap;
        }
    }

    .map {
        margin-top: 30px;
    }
}

.our_ser {
    .img_wrapper {
        text-align: start;
    }
}


/*prod_page*/

.prod_page {
    padding-top: 88px;

    @media(max-width:1200px) {
        padding-top: 46px;
    }
}

//inner_work page 


.inner_work {
    .inner_work_wrapper {
        gap: 36px;

        @media(max-width:991px) {
            flex-wrap: wrap;
            gap: 0;
        }

        //right part 
        .work_data {
            padding-inline-start: 170px;

            @media(max-width:1400px) {
                padding-inline-start: 50px;
            }

            @media(max-width:1200px) {
                padding-inline-start: 32px;
            }

            @media(max-width:991px) {
                padding: 0 15px
            }

            h2 {
                color: $whiteText;
            }

            .hashtag {
                font-size: 28px;
                color: $SecColor;
            }

            .work_desc,
            ul {
                color: #707070;
                font-size: 18px;
                line-height: 28px;
                width: 100%;
                max-width: 590px;

            }

            h5 {
                color: $SecColor;
                font-size: 24px;
                font-weight: 600;
                margin: 49px 0 8px;
            }

            p {
                font-size: 24px;
                margin-bottom: 24px;
                color: $whiteText;

                @media(max-width:991px) {
                    font-size: 16px;
                }
            }

            .action {
                a {
                    width: fit-content;
                    gap: 16px;
                    margin-bottom: 50px;

                }
            }
        }

        //left part 
        .work_assets {
            margin-top: 20px;
            width: 100%;
            max-width: 1110px;
            height: 1100px;
            overflow: auto;

            .row {
                img {
                    width: 100%;
                }
            }

            iframe {
                width: 100%;
                height: 615px;
                max-width: 1110px;

                @media(max-width:1200px) {
                    height: 400px;
                }

                @media(max-width:991px) {
                    height: 250px;
                }
            }
        }
    }
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 10;
    position: static;
    width: auto;
    margin: 46px 0;
}

.slider_arrows {
    gap: 20px;
}

.services_page {
    padding: 64px 0;

    @media(max-width:991px) {
        padding: 0 0 50px 0;
    }

    .head {
        p {
            color: $whiteText;
            font-size: 27px;
            margin-bottom: 16px;

            @media(max-width:991px) {
                font-size: 16px;
            }
        }
    }

    .service_data_row {
        img {
            margin-bottom: 16px;
            color: $whiteText;
        }

        h5 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;
            color: $whiteText;
        }

        p {
            font-size: 18px;
            color: $whiteText;
            margin-bottom: 50px;
        }

        @media(max-width:575px) {
            h5 {
                font-size: 18px;
            }

            p {
                font-size: 16px;
                margin-bottom: 24px;
            }
        }
    }
}

.ideal {
    .ideal_img {
        max-width: 100%;
    }
}



/*about_hero*/

.about_hero {
    background-image: url(../imgs/about/hero.png);

    .action_wrapper {
        gap: 24px;

        .action {
            a {
                width: fit-content;
                gap: 22px;
            }
        }
    }

    .action_main {

        a {
            color: $mainColor;
            background-color: $SecColor;
            border-color: $SecColor;
        }

    }
}

.values {
    .values_content {
        padding: 100px 100px 0;
        color: $whiteText;

        @media(max-width:991px) {
            padding: 0;
        }

        .main_paragraph {
            font-size: 27px;
            max-width: 605px;
            width: 100%;
            margin-bottom: 20px;

            @media(max-width:767px) {
                font-size: 16px;
            }
        }
    }

    .values_item {
        margin-bottom: 48px;

        img {
            margin-bottom: 16px;
        }

        h5 {
            color: $SecColor;
            font-size: 24px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            max-width: 420px;
            width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

//feats 

.feats {
    padding: 100px 0;
    background-color: $SecColor;

    @media(max-width:767px) {
        padding: 50px 0;
    }

    .row {
        padding: 0 35px;
        row-gap: 10px;
        column-gap: 2%;
    }

    .col-lg-3 {
        @media(max-width:425px) {
            width: 49%;
            padding: 0
        }
    }

    .head,
    .desc {
        color: $mainColor;
    }

    .desc {
        @media(max-width:767px) {
            margin-bottom: 20px;
        }
    }

    .feat {
        position: relative;

        img {
            width: 100%;
            padding-bottom: 125px;

            @media(max-width:575px) {
                padding-bottom: 50px;
            }
        }

        .feat_caption {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $mainColor;
            color: $SecColor;
            transition: .4s all ease-in-out;

            h5 {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            p {
                transition: .3s all ease-in-out;
                display: none;
                color: $whiteText;
                max-width: 287px;
                width: 100%;
                text-align: center;
            }

            @media(max-width:575px) {
                height: 50px;

                h5 {
                    font-size: 13px;
                    margin: 0;
                }

                p {
                    font-size: 12px;
                }
            }

            &:hover {
                height: 100%;
                padding: 6px;

                h5 {
                    margin-bottom: 6px;
                }

                p {
                    display: block;
                }
            }
        }
    }
}

.stories {
    padding: 100px 0;

    @media(max-width:991px) {
        padding: 50px 0;
    }

    img {
        width: 100%;
    }

    .sml_img {
        max-width: 753px;
        width: 100%;
    }

    .first_cnt {
        padding-top: 70px;

        @media(max-width:991px) {
            padding: 0
        }

        p {
            color: $whiteText;
            font-size: 27px;
            line-height: 38px;
            max-width: 580px;
            width: 100%;

            @media(max-width:991px) {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .second_cnt {
        padding-top: 32px;

        @media(max-width:991px) {
            padding: 0
        }

        p {
            color: $whiteText;
            max-width: 625px;
            width: 100%;
            font-size: 27px;
            margin-bottom: 50px;

            @media(max-width:991px) {
                font-size: 16px;
                margin-bottom: 6px;
            }
        }
    }
}


.team {
    padding-bottom: 50px;

    @media(max-width:991px) {
        padding-bottom: 32px;
    }

    .owl-prev {
        top: -165px;
        left: 0;
        transform: unset;
        z-index: 888;


    }

    .owl-next {
        top: -165px;
        left: 90px;
        right: auto;
        transform: unset;
        z-index: 888;

        @media(max-width:991px) {
            right: 0 !important;
            left: auto !important;
        }
    }

    .team_member {
        position: relative;
        margin-top: 20px;

        img {
            width: 100%;
            padding-bottom: 140px;
        }

        .team_caption {
            height: 120px;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: .3s all ease-in-out;
            padding: 22px;

            @media(max-width:767px) {
                padding: 8px;
            }

            h4 {
                font-size: 27px;
                color: $whiteText;
                font-weight: 600;
                margin-bottom: 8px;

                @media(max-width:767px) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 6px;
                color: $whiteText;

                @media(max-width:767px) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            span {
                display: none;
            }

            &:hover {
                height: 200px;
                background-color: $SecColor;

                h4,
                p,
                span {
                    color: $mainColor;
                    display: block;
                }
            }
        }
    }
}

.partnersPage {
    padding-bottom: 90px;

    @media(max-width:767px) {
        padding-bottom: 50px;
    }

    .partner {
        margin-top: 20px;
    }
}